/* Global */

html {
    scroll-behavior: smooth;
}

@font-face { 
    font-family: 'Gotham'; 
    src: url('Gotham-Book.otf');  
} 

@font-face { 
    font-family: 'GothamBold'; 
    src: url('Gotham-Bold.otf'); 
} 

@font-face { 
    font-family: 'GothamItalic'; 
    src: url('Gotham-BookItalic.otf'); 
}

#scroll-to-top {
    width: 30px;
    height: 30px;
    color: white;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; 
    bottom: 20px; 
    right: 30px;
    z-index: 99; /* Make sure it does not overlap */
    border: none; 
    outline: none; 
    background-color: rgba(58, 0, 91); 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
  }
  
  #myBtn:hover {
    background-color: rgb(42, 0, 66); /* Add a dark-grey background on hover */
  }

body { 
    /* padding-top: 50px;  */
    font-family: 'Gotham';
}

h1 {
    font-family: 'GothamBold';
}

em {
    font-family: 'GothamItalic';
    font-weight: normal;
    font-style: normal;
 }
 
 strong {
    font-family: 'GothamBold';
    font-weight: normal;
    font-style: normal;
 }

footer {
    height: 65vh;
}

p {
    font-size: 16px;
}

.align {
    display: flex;
    align-items: center;
}

.no-padding {
    padding: 0;
}

.btn {
    background-color: rgba(58, 0, 91);
    border-color: #000;
    transition: 0.3s;
}

.btn:hover {
    background-color: rgba(58, 0, 91);
    border-color: rgba(58, 0, 91);
    transform: scale(1.05);
    transform-origin: center;
}

.btn:active {
    background-color: rgb(42, 0, 66) !important;
}

.card {
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
    transform-origin: center;
    border: 3px solid rgba(58, 0, 91);
    color: rgba(58, 0, 91) !important;
}

/* Navbar */
.logo-icon {
    width: 98px;
    height: 98px;
    /* box-shadow: 10px 10px 50px rgba(58, 0, 91); */
}

.navbar-brand:hover {
    animation: beating .8s linear infinite;
}

#font-logo {
    width: 220px;
    height: 45.46px;
    margin-left: 8px;
    /* transition: 0.3s; */
}

@keyframes beating {
    0% {
        transform: scale(1.05);
    }
    80% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.06);
    }
  }

.homepage-link {
    text-decoration: none !important;
}
/* 
#font-logo:hover {
    transform: scale(1.05);
    transform-origin: bottom;
} */

#navbar-content {
    font-size: 24px;
    font-weight: bold;
}

.collapse ul li a {
    transition: 0.3s;
}

.collapse ul li a:hover {
    border-bottom: 3px solid rgba(58, 0, 91);
    color: rgba(58, 0, 91) !important;
    /* font-weight: bold; - MAKE THIS WORK */
}

/* Index */
#header {
    background: url("../images/header-background-new-dark.png") center;
    background-size: cover;
    display: flex;
    align-items: center;
    height: 100vh;
    color: white !important;
}

.header-content {
    margin-left: -100px;
}

#header h1 {
    font-size: 60px;
}

#header p {
    font-size: 36px;
}

/* About */
.about-section {
    height: 80vh;
    background: url("../images/contact-image.jpg") center;
}

.about-box {
    margin-top: 12vh;
    padding: 100px;
    background: white;
}

/* Portfolio */

#portfolio {
    height: 85vh;
}

.portfolio-header {
    height: 10vh;
    background: rgba(58, 0, 91);
    color: white;
    padding-top: 15px;
}

.portfolio-content {
    margin-top: 25px;
}

.pf-item a {
    margin-bottom: 25px;
    text-decoration: none;
    color: #000;
}

/* Quote */
.quote {
    height: 100vh;
    background: rgba(58, 0, 91);
    color: #fff;
    padding: 0 10vw 0 10vw;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.quote-section {
    padding-top: 9vh;
}

/* Press & Media */
.pr-header {
    margin-top: 25px;
    margin-bottom: 25px;
}

/* Contact */
.contact-header {
    background: url("../images/contact-header.JPG");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
}

.contact-title {
    padding: 40px 0 40px 40px;
}

.copyright {
    background-color: rgba(58, 0, 91);
    color: white;
}

.socials {
    padding-top: 10vh;
}

.contact {
    padding: 40px 40px 40px 40px;
}

.contact-button {
    background-color: rgba(58, 0, 91) !important;
    border-color: #000;
}

.padding-top {
    padding-top: 80px;
}

.fa {
    margin: 12px;
    padding: 18px;
    font-size: 30px;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    transition: 0.3s;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: 0.7;
    text-decoration: none;
    transform: scale(1.05);
    transform-origin: center;
  }
    
.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: linear-gradient(180deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    color: white;
}
  
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #0077B5;
    color: white;
}

.fa-github {
    background: #333;
    color: white;
}

@media screen and (max-width: 768px) {
    .logo-icon {
        width: 50px;
        height: 50px;
    }

    #header {
        background: url("../images/header-background-dark-mobile.png") center;
        background-size: cover;
        display: flex;
        align-items: center;
        height: 90vh;
        color: white !important;
    }

    .header-content {
        margin-left: 0;
        padding: 25px;
    }

    h1 {
        font-size: 36px !important;
    }

    p {
        font-size: 24px !important;
    }

    .about-section {
        height: 100%;
        background: #fff;
    }

    .about-box {
        padding: 10px;
        margin-bottom: 25px;
        background: white;
    }


    .carousel-control-prev-icon {
        margin-right: 50px;
    } 
    
    .carousel-control-next-icon {
        margin-left: 50px;
    }

    .arrow {
        display: none !important;
    }
}