/* Global */
body { 
    /* padding-top: 50px;  */
}

footer {
    height: 65vh;
}

p {
    font-size: 16px;
}

.align {
    display: flex;
    align-items: center;
}

.no-padding {
    padding: 0;
}

/* Navbar */
.navbar {
    background-color: rgba(255, 255, 255, 0.7);
}

.logo-icon {
    width: 98px;
    height: 98px;
}

.navbar-brand {
    margin-left: 8px;
    font-size: 36px;
    font-weight: bold;
    /* color: white !important; */
}

#navbar-content {
    font-size: 24px;
    font-weight: bold;
}

.collapse ul li a {
    transition: 0.3s;
}

.collapse ul li a:hover {
    border-bottom: 3px solid rgba(58, 0, 91);
    color: rgba(58, 0, 91) !important;
}

/* Index */
#header {
    background: url("../images/header-background-new-dark.png") center;
    background-size: cover;
    display: flex;
    align-items: center;
    height: 100vh;
    /* margin: 0; */
    /* padding: 0; */
    color: white !important;
}

.header-content {
    margin-left: -100px;
}

#header h1 {
    font-size: 60px;
}

#header p {
    font-size: 36px;
}

/* About */
.about-section {
    height: 80vh;
    background: url("../images/contact-image.jpg") center;
}

.about-box {
    margin-top: 12vh;
    padding: 100px;
    background: white;
}

/* Portfolio */
.portfolio-header {
    
}

/* Contact */
.contact-header {
    background: url("../images/contact-header.JPG");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
}

.contact-title {
    padding: 40px 0 40px 40px;
}

.copyright {
    background-color: rgba(58, 0, 91);
    color: white;
}

.socials {
    padding-top: 40px;
}

.btn {
    background-color: rgba(58, 0, 91);
}

.btn:hover {
    background-color: rgba(131, 139, 197);
}

.contact {
    padding: 40px 40px 40px 40px;
}

.padding-top {
    padding-top: 80px;
}

.fa {
    margin: 12px;
    padding: 18px;
    font-size: 30px;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: 0.7;
    text-decoration: none;
  }
    
.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: linear-gradient(180deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    color: white;
}
  
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #0077B5;
    color: white;
}

.fa-github {
    background: #333;
    color: white;
}

@media screen and (max-width: 768px) {
    #services {
        height: 180vh !important;
    }

    #testimonials {
        height: 120vh !important;
    }

    .carousel-control-prev-icon {
        margin-right: 50px;
    } 
    
    .carousel-control-next-icon {
        margin-left: 50px;
    }

    .arrow {
        display: none !important;
    }
}