#header {
    background: url("../images/header-background.png") no-repeat top center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    height: 500px;
    width: 100%;
    margin: 0;
    padding: 0;
    /*font-size: 45px;*/
}

.header-content {
    margin-left: 8px;
}

p {
    font-size: 36px;
}
