body { 
    padding-top: 50px; 
}

/* Index */
#header {
    background: url("../images/header-background.png") no-repeat top center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    height: 500px;
    margin: 0;
    padding: 0;
}

.navbar-brand {
    margin-left: 8px;
}

.header-content {
    margin-left: 8px;
}

p {
    font-size: 16px;
}

#services {
    background-color: #F9FDFF;
    height: 500px;
    text-align: center;
}

.services-heading {
    padding: 36px;
}

.services-content {
    margin-top: 24px;
}

#connect {
    background: linear-gradient(0deg, rgba(30, 116, 241, 0.3), rgba(30, 116, 241, 0.3)), url("../images/contact-image.png") no-repeat top center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    color: #FFFFFF;
}

#contact-btn {
    position: absolute;
    margin-top: 120px;
}

footer {
    background-color: #FFFFFF;
    color: rgba(0, 0, 0, 0.6);
}

/* My Experience */
.exp-header {
    display: flex;
    align-items: center;
    height: 375px;
    background-color: #F9FDFF;
}

.center {
    margin-top: 70px;
}

.exp-timeline {
    margin-top: 60px;
}

.timeline-date {
    margin-bottom: -2px;
}