/* Global */
body { 
    padding-top: 50px; 
}

footer {
    background-color: #F9FDFF;
    color: rgba(0, 0, 0, 0.6);
}

p {
    font-size: 16px;
}

/* Index */
#header {
    background: url("../images/header-background.png") no-repeat top center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    height: 500px;
    margin: 0;
    padding: 0;
}

.navbar-brand {
    margin-left: 8px;
}

.header-content {
    margin-left: 8px;
}

#services {
    background-color: #F9FDFF;
    height: 500px;
    text-align: center;
    /* padding-top: 60px;
    padding-bottom: 60px; */
}

.services-heading {
    padding: 36px;
}

.services-content {
    margin-top: 24px;
}

#connect {
    background: linear-gradient(0deg, rgba(30, 116, 241, 0.3), rgba(30, 116, 241, 0.3)), url("../images/contact-image.png") no-repeat top center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    color: #FFFFFF;
}

#contact-btn {
    position: absolute;
    margin-top: 120px;
}

/* My Experience */
.exp-header {
    display: flex;
    align-items: center;
    height: 375px;
    background-color: #F9FDFF;
}

.center {
    margin-top: 70px;
}

.exp-timeline {
    margin-top: 60px;
    margin-bottom: 60px;
}

.timeline-date {
    margin-bottom: -2px;
}

.exp-content {
    margin-bottom: 80px;
}

.exp-button {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

#exp-connect {
    background: linear-gradient(0deg, rgba(30, 116, 241, 0.3), rgba(30, 116, 241, 0.3)), url("../images/contact-image.png") no-repeat center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    color: #FFFFFF;
}

/* Blog */
.placeholder {
    background: linear-gradient(0deg, rgba(30, 116, 241, 0.3), rgba(30, 116, 241, 0.3)), url("../images/contact-image.png") no-repeat center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 950px;
    color: #FFFFFF;
}

/* Contact */
.contact-header {
    background: url("../images/header-background.png") no-repeat top center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.contact-title {
    padding-top: 40px;
    padding-bottom: 40px;
}

.contact {
    margin-bottom: 70px;
}

.padding-top {
    padding-top: 180px;
}

.fa {
    margin: 12px;
    padding: 18px;
    font-size: 30px;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: 0.7;
    text-decoration: none;
  }
    
.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: linear-gradient(180deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    color: white;
}
  
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #0077B5;
    color: white;
}

.fa-github {
    background: #333;
    color: white;
}